// root css variables
:root
  --color-primary: #59b6d7
  --color-secondary lighten(#59b6d7, 30%)
  --color-tertiary lighten(#59b6d7, 60%)
  --color-warning pink
  --color-danger red
  --color-info #888
  --color-angle 0

*
::after
::before
  box-sizing inherit
  transition .3s all

html
body
#app
  height 100%

body
  box-sizing border-box
  padding 0
  margin 0 auto
  font-family 'Avenir', Helvetica, sans-serif
  font-smoothing antialiased
  color #2c3e50

h1, h2, h3, h4, h5, h6, p
  margin 0

h1
  font-size 1.6em
h2
  font-size 1.4em
h3
  font-size 1.15em
h4
h5
h6
  font-size 1.1em

hr
  border none
  border-bottom 6px dashed 'hsl(%s, 100%, 95%)' % $colorAngle

button
  border none
  background-color transparent
  outline none

ul
  list-style none
  padding 0
  margin 0
