// slide-fade
.slide-fade-enter-active
.slide-fade-leave-active
  transition all .3s ease

.slide-fade-enter
.slide-fade-leave-to
  transform translateY(-10px)
  opacity 0

.slide-fade-move
  transition transform 1s

.fade-enter-active
.fade-leave-active
  transition all .3s

.fade-enter
.fade-leave-to
  opacity 0
