// global variables

$primary = var(--color-primary)
$secondary = var(--color-secondary)
$warning = var(--color-warning)
$danger = var(--color-danger)
$info = var(--color-info)
$disabled = var(--color-disabled)
