// global variables

$light = #fff
$dark = #303133
$primary = var(--color-primary)
$secondary = var(--color-secondary)
$warning = var(--color-warning)
$danger = var(--color-danger)
$info = var(--color-info)
$disabled = var(--color-disabled)

$colorAngel = var(--color-angel)
