// global variables

// color
$light = #fff
$dark = #303133
$primary = var(--color-primary)
$secondary = var(--color-secondary)
$warning = var(--color-warning)
$danger = var(--color-danger)
$info = var(--color-info)
$disabled = var(--color-disabled)
$border-color = #eee

$colorAngel = var(--color-angel)

// size
$md = 16px
$sm = $md / 2
$lg = $md * 1.5
$xl = $md * 2

$header-height = $md * 3
$footer-height = $md * 3

// shortcut
$border = 1px solid $border-color
